	<section>
		<header>
			<h2> Usuarios </h2>
		</header>
		<table>
			<thead>
				<tr>
					<th>Username</th>
					<th>Administrador</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% for (var i in users) { %>
				<tr>
					<td> <%= users[i].username %> </td>
					<td> <%= users[i].isAdmin ? "Si" : "No" %> </td>
					<td> <a href="/users/<%= users[i].id %>" > <button type="button"> Ver </button> </a></td>
					<td>
						<a href="/users/<%= users[i].id %>/edit"> <button type="button"> Editar </button> </a></td>
						<td>
							<a href="/users/<%= users[i].id %>?_method=DELETE"
								onClick="return confirm('Borrar cuenta: <%= users[i].username %>');" > <button type="button">
								Borrar </button> </a></td>
							</tr>
							<% }; %>
						</tbody>
					</table>

					
				<a href="/users/new" > <button type="button"> Crear nuevo Usuario </button> </a>
					
				
					<section>